/*TELA DE LOGIN*/
/*
CORES:
a04732 -> marrom
02000b -> preto
#edeae2 -> cor creme de fundo
*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Tilt+Neon&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #edeae2 ; /*cor de fundo de todo o container*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-imagem{
    width: 20%;
}

.escolha-do-genero-musical{
   display: inline-block;
   position: relative;
   left: 80px;
   top: 80px;
   font-family: 'Tilt Neon';
}

.escolha-do-genero-musical > select{
    font-family: 'Tilt Neon';
    border: none;
    border-radius: 3px;
    color: #edeae2;
    background-color: #093040;
    padding: 1px;
}

.botao1-e-icone1{
    position: relative;
    top: 42px;
    left: 50px;
}

.botao1-e-icone1 button{
    font-size: 35px;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    /*background-color: #65ac38;*/
    background-color: #02000b;
    color: #1ed760;
}

.botao1-e-icone1 button:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 0px 0px 8px #4c1c12;
    cursor: pointer;
}

.botao2-e-icone2{
    position: relative;
    bottom: 2px;
    left: 380px;
}

.botao2-e-icone2 button{
    font-size: 35px;
    border: none;
    background-color: #b0a78d;
    color: #02000b;
    border-radius: 5px;
}

.botao2-e-icone2 button:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 0px 0px 8px #4c1c12;
    cursor: pointer;
}

.logo-div{
    display: inline-block;
    position: relative;
    right: 130px;
}

.logo-div img{
    width: 250px;
}

.card{
    width: 30vw;
    height: 60vh;
    background-color: #a04732;
    border: none;
    border-radius: 20px;
    font-family: 'Tilt Neon';
}


.container-img-card{
   width: 65%;
   height: 50%;
   background-color: #b0a78d;
   position: relative;
   margin: 0 auto;
   top: 50px;
   border-radius: 5px;
}

.texto-card{
   position: relative;
   top: 40px;
   text-align: center;
}

.esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda > h1{ /*funciona para todos os h1's dentro dessa div "esquerda" */
    color: #a04732 ;
    font-family: 'Dela Gothic One';
    font-size: 3vw;
}

.esquerda-imagem{
    width: 35vw;
}

.direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direita-imagem{
    width: 25vw;
}

.container-card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #00000056;
    font-family: 'Tilt Neon';
}

.container-card > h1{
    color: #a04732 ;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 94%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #093040;
    color: #edeae2;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none; /* para tirar uma borda que é criada ao redor do input*/
    font-family: 'Tilt Neon';
}

.texfield > label{
    color: #FFFF;
    margin-bottom: 10px;
}

label{
    font-size: 16px;
    margin-bottom: 5px;
}

/*.texfield > input::placeholder{
    color: # ;
}*/

.btn-login {
    width: 100%;
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #a04732 ;
    box-shadow: 0px 10px 40px -12px #a04732;
    text-align: center;
    transition: .5s;
}

a:hover{
    transform: scale(1.05);
}

.sessao-cadastrar{
    display: flex;
}

.link-cadastrar{
    position: relative;
    padding-left: 5px;
    top: 22px;
    color: #02000b;
    text-decoration: none;
}

.link-cadastrar:hover{
    text-decoration: underline;
}

.btn-descobrir{
    background-color: #b0a78d;
    border: none;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    width: 15%;
    font-family: 'Tilt Neon';
    font-weight: 800;
    font-size: 15px;
    transition: .2s;
}

.btn-descobrir:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #c3c3c3;
    cursor: pointer;
}

@media only screen and (max-width: 950px){ /* enquanto a tela tiver uma largura de 950px, adicione os elementos */
    .card{
        width: 80%;
    }
    .logo-imagem{
        width: 20%;
    }
}

@media only screen and (max-width: 600px){ /* apenas para celular e telas menores */
    .container{
        flex-direction: column;
    }

    .logo-imagem{
        width: 40%;
    }

    .card {
        width: 80%;
    }

    .container-card > h1 {
        font-size: 5vw;
    }

    .texto-card{
        padding: 2vw 0;
        margin: 2vw 0;
        font-size: 3vw;
    }

    h3{
        font-size: 3vw;
    }

    .textfield {
        margin: 3vw 0;
    }

    .textfield > input {
        padding: 2vw;
        font-size: 3vw;
    }

    .textfield > label {
        margin-bottom: 3vw;
        font-size: 4vw;
    }

    .btn-descobrir {
        padding: 2vw 0;
        margin: 2vw 0;
        font-size: 3vw;
    }
    
    /*
    .esquerda > h1{
        display: none;
    */
}