/*TELA DE LOGIN*/
/*
CORES:
a04732 -> marrom
02000b -> preto
#edeae2 -> cor creme de fundo
*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Tilt+Neon&display=swap');

/*GENERAL STYLE*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/Imagens/fundo_home.png");
    font-family: 'Tilt Neon';
    height: 100vh;
}

a{
    font-family: 'Tilt Neon';
    text-decoration: none;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

section{
    padding: 40px 4%;
}

/*-------------------------------------------------*/

/*LOGO E BOTAO*/

section.logo-e-botao{
    padding: 0px 4%;
    padding-top: 20px;
}

section.logo-e-botao .flex{
    align-items: center;
    justify-content: center;
}

/*CARD*/

section.card-de-musica{
    padding: 0px 4%;
}

section.card-de-musica .flex{
    justify-content: center;
    align-items: center;
}

.horizontal{
    flex: 1;
    margin: 5px;
}

.card{
    width: 600px;
    height: 500px;
    background-color: #a04732;
    border: none;
    border-radius: 20px;
    font-family: 'Tilt Neon';
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.texto-card{
    padding: 20px;
}

.flex-box{
    justify-content: center;
    align-items: center;
}

.icon-spotify button{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: none;
    border-radius: 5px;
    /*background-color: #65ac38;*/
    background-color: #02000b;
    color: #1ed760;
}

.icon-spotify button:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 0px 0px 8px #4c1c12;
    cursor: pointer;
}

.icon-like button{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 65px;
    border: none;
    background-color: #111;
    color: #edeae2;
    border-radius: 5px;
}

.icon-like button:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 0px 0px 8px #4c1c12;
    cursor: pointer;
}

 /*-----FIM CARD-----*/

 /*BOTAO*/

 section.botao{
    padding: 20px 4%;
 }

 section.botao .flex{
    justify-content: center;
    align-items: center;

 }

 .btn-descobrir{
    background-color: #b0a78d;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-family: 'Tilt Neon';
    font-weight: 800;
    font-size: 15px;
    transition: .2s;
}

/*-----FIM BOTAO-----*/
.header{
    padding-inline: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a{
    font-size: 18px;
    color: antiquewhite;
    padding-block: 16px;
}

/*.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("./bg.jpg");
  }
*/

/* .container{
    width: 100vw;
    height: 100vh;
    background-color: #edeae2 ; /*cor de fundo de todo o container
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.logo-imagem{
    position: relative;
    left: 20px;
    width: 20%;
}

.escolha-do-genero-musical{
   display: inline-block;
   font-family: 'Tilt Neon';
}

.escolha-do-genero-musical > select{
    font-family: 'Tilt Neon';
    border: none;
    border-radius: 3px;
    color: #edeae2;
    background-color: #093040;
    padding: 1px;
}

/* .botao1-e-icone1{
    position: relative;
    top: 42px;
    left: 50px;
} */

/* .botao1-e-icone1 button{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #65ac38;
    background-color: #02000b;
    color: #1ed760;
}

.botao1-e-icone1 button:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 0px 0px 8px #4c1c12;
    cursor: pointer;
} */

/* .botao2-e-icone2{
    position: relative;
    bottom: 2px;
    left: 380px;
} */

/* .botao2-e-icone2 button{
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 65px;
    border: none;
    background-color: #111;
    color: #edeae2;
    border-radius: 5px;
}

.botao2-e-icone2 button:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 0px 0px 8px #4c1c12;
    cursor: pointer;
} */

.logo-div{
    display: inline-block;
    position: relative;
    right: 130px;
}

.logo-div img{
    width: 250px;
}

/* .card{
    width: 22vw;
    height: 53vh;
    background-color: #a04732;
    border: none;
    border-radius: 20px;
    font-family: 'Tilt Neon';
    position: relative;
} */


/* .container-img-card{
   display:flex;
   align-items: center;
   justify-content: center;
   position: relative;
   top: 45px;
   position: absolute;
} */

#img-album{
    box-shadow: 0px 0px 12px #111;

}
/* .texto-card{
   position: relative;
   top: 40px;
   text-align: center;
} */

.esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda > h1{ /*funciona para todos os h1's dentro dessa div "esquerda" */
    color: #a04732 ;
    font-family: 'Dela Gothic One';
    font-size: 3vw;
}

.esquerda-imagem{
    width: 35vw;
}

.direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direita-imagem{
    width: 25vw;
}

.container-card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #00000056;
    font-family: 'Tilt Neon';
}

.container-card > h1{
    color: #a04732 ;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 94%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #093040;
    color: #edeae2;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none; /* para tirar uma borda que é criada ao redor do input*/
    font-family: 'Tilt Neon';
}

.texfield > label{
    color: #FFFF;
    margin-bottom: 10px;
}

label{
    font-size: 16px;
    margin-bottom: 5px;
}

/*.texfield > input::placeholder{
    color: # ;
}*/

.btn-login {
    width: 100%;
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #a04732 ;
    box-shadow: 0px 10px 40px -12px #a04732;
    text-align: center;
    transition: .5s;
}

a:hover{
    transform: scale(1.05);
}

.sessao-cadastrar{
    display: flex;
}

.link-cadastrar{
    position: relative;
    padding-left: 5px;
    top: 22px;
    color: #02000b;
    text-decoration: none;
}

.link-cadastrar:hover{
    text-decoration: underline;
}



.btn-descobrir:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #c3c3c3;
    cursor: pointer;
}

.icon-menu{
    position: relative;
    right: 900px;
    bottom: 50px;
}

.menuOculto{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menuOculto a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #888;
    display: block;
    transition: 0.3s;
}

.menuOculto a:hover{
    color: #fff;
}

.btnFechar{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* #principal{
    transition: margin-left 0.5s;
} */

@media screen and(max-height: 450px){
    .menuOculto{
        padding-top: 15px;
    }
    .menuOculto a{
        font-size: 18;
    }
}

@media only screen and (max-width: 950px){ /* enquanto a tela tiver uma largura de 950px, adicione os elementos */
    .card{
        width: 80%;
    }
    .logo-imagem{
        width: 20%;
    }
}

@media only screen and (max-width: 600px){ /* apenas para celular e telas menores */
    .container{
        flex-direction: column;
    }

    .logo-imagem{
        width: 40%;
    }

    .card {
        width: 80%;
    }

    .container-card > h1 {
        font-size: 5vw;
    }

    .texto-card{
        padding: 2vw 0;
        margin: 2vw 0;
        font-size: 3vw;
    }

    h3{
        font-size: 3vw;
    }

    .textfield {
        margin: 3vw 0;
    }

    .textfield > input {
        padding: 2vw;
        font-size: 3vw;
    }

    .textfield > label {
        margin-bottom: 3vw;
        font-size: 4vw;
    }

    .btn-descobrir {
        padding: 2vw 0;
        margin: 2vw 0;
        font-size: 3vw;
    }
    
    /*
    .esquerda > h1{
        display: none;
    */
}