.flex{
    display: flex;
    justify-content: space-between;
    
}
.img{
    display: inline-block;

}
.vic{
    background-color: #edeae2;
}
.milena{
    background-color: #a04732;
}
.ray{
    background-color: #4c1c12;
}
.caio{
    background-color: #111;
}
