/*TELA DE LOGIN*/
/*
CORES:
a04732 -> marrom
02000b -> preto
#edeae2 -> cor creme de fundo
*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Tilt+Neon&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: cadetblue; /*cor de fundo de todo o container*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda > h1{ /*funciona para todos os h1's dentro dessa div "esquerda" */
    color: blueviolet;
    font-family: 'Dela Gothic One';
    font-size: 3vw;
}

.esquerda-imagem{
    width: 35vw;
}

.direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: blue;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    font-family: 'Tilt Neon';
}

.container-card > h1{
    color: brown;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 94%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #093040;
    color: aquamarine;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none; /* para tirar uma borda que é criada ao redor do input*/
}

.texfield > label{
    color: #FFFF;
    margin-bottom: 10px;
}

/*.texfield > input::placeholder{
    color: # ;
}*/

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff80f2;
}

@media only screen and (max-width: 950px){ /* enquanto a tela tiver uma largura de 950px, adicione os elementos */
    .container-card{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){ /* apenas para celular e telas menores */
    .container{
        flex-direction: column;
    }
    /*
    .esquerda > h1{
        display: none;
    */
}