.flex {
    display: flex;
    justify-content: space-around;
}

p {
    text-align: center;
    font-weight: bolder;
}

body {
    font-family: 'Tilt Neon';
    background-image: url("/Imagens/fundo_home.png");
}

.titulo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titulo-container h1{
    font-size: 85px;

}

h1{
    text-align: center;
}
.milena {
    background-color: #a04732;
    box-shadow: 0px 0px 8px #111;
    width: 280px;
    text-decoration: none;
    color: #111;
}

.foto-milena {
    position: relative;
    left: 39px;
    top: 15px;
    margin-bottom: 15px;

}

.vic {
    background-color: #a04732;
    box-shadow: 0px 0px 8px #111;
    width: 280px;
    text-decoration: none;
    color: #111;
}

.foto-vic {
    position: relative;
    left: 39px;
    top: 15px;
    margin-bottom: 15px;

}

.ray {
    background-color: #a04732;
    box-shadow: 0px 0px 8px #111;
    width: 280px;
    text-decoration: none;
    color: #111;
}

.foto-ray {
    position: relative;
    left: 39px;
    top: 15px;
    margin-bottom: 15px;

}

.caio {
    background-color: #a04732;
    box-shadow: 0px 0px 8px #111;
    width: 280px;
    text-decoration: none;
    color: #111;
}

.foto-caio {
    position: relative;
    left: 39px;
    top: 15px;
    margin-bottom: 15px;

}